# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
# OSX
.DS_Store

# MacVim/VIM backup files
*.swp
*.swo
*~

